{% extends "edc_pharma_dashboard/listboard.html" %}

{% block dispense_action_buttons %}
    <button class="btn btn-sm btn-default" type="submit" id="action" name="action" form="{{ form_action_name }}" value="print_labels">
        <i class="fa fa-barcode fa-sm"></i> Print labels
    </button>
{% endblock dispense_action_buttons %}


{% block results_header %}
    {% include 'edc_pharma_dashboard/listboard/dispenseappointment/results_header.html' %}
{% endblock results_header %}

{% block results_body %}
    {% include 'edc_pharma_dashboard/listboard/dispenseappointment/results_body.html' %}
{% endblock results_body %}
