{% extends 'edc_pharma_dashboard/base_listboard.html' %}

{% load staticfiles %}
{% load tz %}
{% load crispy_forms_tags %}


{% block alert %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>           
              <i class="fa fa-hand-stop-o fa-lg"></i> {{ message }}
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>           
              <i class="fa fa-hand-stop-o fa-lg"></i> {{ message }}
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>           
              <i class="fa fa-thumbs-o-up fa-lg"></i> {{ message }}
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>           
              <i class="fa fa-hand-stop-o fa-lg"></i> {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock alert %}


{% block results_table %}
  <!--start results-->
    <div class="form-group">

       {% block results_panel_form %}
       {% endblock results_panel_form %}
    
      <div class="table table-responsive">
        <table class="table table-condensed table-hover small">
          <thead>

            {% block results_header %}
                {% include 'edc_pharma_dashboard/listboard/box/results_header.html' %}
            {% endblock results_header %}

          </thead>
          <tbody>

            {% block results_body %}
                {% include 'edc_pharma_dashboard/listboard/box/results_body.html' %}
            {% endblock results_body %}

          </tbody>
        </table>

        {% include 'edc_pharma/paginator.html' %}

      </div>
  </div>

	{% if not results %}
	    <span class="alert alert-success"><i class="fa fa-thumbs-o-up fa-fw"></i> {{ empty_queryset_message }}</span>
	{% endif %}
  
      
  <!--end results-->
{% endblock results_table %}
