
<!-- begin columns -->
    <td>
      <span class="text text-identifier">
      {{ wrapped.object.subject_identifier }}
      </span>
    </td>
    <td>{{wrapped.dispense_timepoint.schedule.description}}</td>
     <td>
       <a class="btn btn-success btn-sm" role="button"   
        title="Go to subject's dashboard" href="/subject/dashboard/{{wrapped.object.subject_identifier}}/">
        <i class="fa fa-user-circle-o fa-sm"></i> 
        Dashboard
       </a>     
    </td>
    <td>
   <div class="btn-group">
     
      <button type="button" class="btn btn-default"><span class="text text-danger">
        <i class="fa fa-times-circle fa-lg" title="Not dispensed"></i></span>
      </button>
    
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Previous Dispenses</a></li>
          {% for obj in wrapped.dispense_timepoint.completed %}
                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> {{obj.timepoint}} </a></li>
           {% empty %}
                <li><a href="#"> <strong>No previous records</strong></a></li>
           {% endfor %}
        </ul>
      </div>
    
       <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dispense Appointment Date">
        <i class="fa fa-hospital-o" aria-hidden="true"></i>
        {{wrapped.dispense_timepoint.timepoint | date:"Y-m-d"}}
      </button>
      
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
        <ul class="dropdown-menu" role="menu">
            {% for med in wrapped.dispense_timepoint.profile_medications %}
                <li><a href="#">{{forloop.counter}}. {{med.description}}</a></li>
             {% empty %}
                <li><a href="#"><strong>No medication list!</strong></a></li>
            {% endfor %}
        </ul>
      </div>

      <a href="{% url listboard_url_name wrapped.object.subject_identifier wrapped.dispense_timepoint_id %}" class="btn btn-default" role="button">
         <i class="fa fa-print" aria-hidden="true"></i>
      </a>
       <a href="#" class="btn btn-default" role="button">
          <i class="fa fa-calendar" aria-hidden="true"></i>
      </a>
    </div> 
    </td>
    <td>
        {{wrapped.dispense_timepoint.schedule.description}}
    </td>
    <td>
    <dl>
        <dt>{{wrapped.dispense_timepoint_descriptor.start_day}}</dt>
        <dd class="text text-info"><small>{{wrapped.dispense_timepoint.timepoint | date:"Y-m-d"}}</small></dd>
    </dl> 
    </td>
    
    <td>
    <dl>
        <dt>{{wrapped.dispense_timepoint_descriptor.end_day}}</dt>
        <dd class="text text-info"><small>{{wrapped.dispense_timepoint_descriptor.end_date | date:"Y-m-d"}}</small></dd>
    </dl> 
    </td>

<!-- end columns -->
