
<!-- begin columns -->
    <td>
      <span class="text text-identifier">
      {{ wrapped.object.schedule.subject_identifier }}
      </span>
    </td>
    <td>{{wrapped.object.schedule.arm}}</td>
     <td>
       <a class="btn btn-success btn-sm" role="button"   
        title="Go to subject's dashboard" href="/subject/dashboard/{{wrapped.object.schedule.subject_identifier}}/">
        <i class="fa fa-user-circle-o fa-sm"></i> 
        Dashboard
       </a>     
    </td>
    <td>
   <div class="btn-group">
     
      <button type="button" class="btn btn-default" title="Dispense Status">
      {% if wrapped.object.is_dispensed %}
            <span class="text text-success"><i class="fa fa-check-circle fa-lg" title="Dispensed on {{wrapped.object.appt_datetime}}"></i></span>
       {% else %}
           <span class="text text-danger"><i class="fa fa-times-circle fa-lg" title="Not dispensed"></i></span>
       {% endif %}
      </button>
    
       <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dispense Appointment Date">
        <i class="fa fa-hospital-o" aria-hidden="true"></i>
        {{wrapped.object.appt_datetime | date:"Y-m-d"}}
      </button>
      
      <div class="btn-group" title="View Medication list to dispense">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dispenseMedicationModal-{{ page_obj.start_index|add:forloop.counter0 }}">
        <i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
        {% include 'edc_pharma_dashboard/listboard/dispensetimepoint/dispensensing_modal.html' %}
      </div>

      <a 
        {% if wrapped.can_dispense_labels %}
              href="{% url dispense_listbord_url_name wrapped.object.schedule.subject_identifier wrapped.dispense_timepoint_id %}"
        {% else %}
            href="#"
        {% endif %}
      class="btn btn-default" role="button"
      title="Print medication labels.">
         <i class="fa fa-print" aria-hidden="true"></i>
      </a>
    </div>
    </td>
    <td>
        {{wrapped.object.schedule.description}}
    </td>
    <td>
    <dl>
        <dt>{{wrapped.dispense_appt_describe.start_day}}</dt>
        <dd class="text text-info"><small>{{wrapped.object.appt_datetime | date:"Y-m-d"}}</small></dd>
    </dl> 
    </td>
    
    <td>
    <dl>
        <dt>{{wrapped.dispense_appt_describe.end_day}}</dt>
        <dd class="text text-info"><small>{{wrapped.dispense_appt_describe.end_date | date:"Y-m-d"}}</small></dd>
    </dl> 
    </td>

<!-- end columns -->
